[core]
	excludesfile = /Users/tspruit/.gitignore_global
	autocrlf = input
	attributesfile = /Users/tspruit/.gitattributes
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[alias]
  co = checkout
  st = status
  ci = commit
  w = whatchanged
  br = branch
	pf = push --force-with-lease
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  lgd = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd)%C(bold blue)<%an>%Creset' --abbrev-commit
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
  showfiles = diff-tree --no-commit-id --name-status -r
  masterdiff = branch --merged master
  developdiff = branch --merged develop
  dd = branch --merged develop
  md = branch --merged master
  dt = difftool -d
  dtc = difftool -d --no-symlinks
  wipeout = checkout -- .
  sort = branch --sort=-committerdate

[difftool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Troy Spruit
	email = tspruit@criterion360.com
[push]
  default = current
[merge]
  tool = sourcetree
  ff = only
  #tool = opendiff
[diff]
  tool = araxis
  #tool = opendiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[pull]
	rebase = true
[pager]
  branch =
[commit]
	template = /Users/tspruit/.stCommitMsg
